<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @device.member %>
</p>

<p>
  <strong>Token:</strong>
  <%= @device.token %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
