<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>สวัสดี <%= "#{@member.firstname} #{@member.lastname}" %></h1>
<p>
  รหัสผ่านของคุณ คือ: <%= @member.password %>.<br>
</p>
<p>ขอบคุณที่ใช้บริการ www.tosh.or.th</p>
</body>
</html>