<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @history.member %>
</p>

<p>
  <strong>Data:</strong>
  <%= @history.data %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
